# === Crypto Pay & SMSBower ===
CRYPTOBOT_TOKEN=
SMSBOWER_KEY=
TG_BOT_TOKEN=

# === Database ===
DATABASE_URL=

# === Worker params ===
TOPUP_THRESHOLD=20   # USDT
TOPUP_AMOUNT=50      # USDT
TIMEOUT_MS=120000    # 2 minutes
